<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @document_box.document %>
</p>

<%= link_to 'Edit', edit_document_box_path(@document_box) %> |
<%= link_to 'Back', document_boxes_path %>
